<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">

    <div class="bg-dark p-4">

        <h3 class="text-body-emphasis h4">
            <a th:href="@{'/'}" class="text-white">На Главную</a>
        </h3>
        <h3 class="text-body-emphasis h4">
            <a th:href="@{'/items'}" class="text-white">Каталог товаров</a>
        </h3>
        <h3 class="text-body-emphasis h4">
            <a href="/page3.html" class="text-white">Бренды</a>
        </h3>
        <h3 class="text-body-emphasis h4">
            <a href="/page3.html" class="text-white">Контакты</a>
        </h3>
        <h3 class="text-body-emphasis h4">
            <a href="/page3.html" class="text-white">Служба поддержки</a>
        </h3>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex" >
            <a class="nav-link active text-light" aria-current="page" th:href="@{'/sign'}">Вход</a>
            <a class="nav-link ms-3 text-light" th:href="@{'/register'}">Регистрация</a>
        </div>

    </div>

</nav>