<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="links/links.html"></div>

    <meta charset="UTF-8">
    <title>Title</title>
    <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">

        <div class="bg-dark p-4">

            <h3 class="text-body-emphasis h4">
                <a th:href="@{'/'}" class="text-white">На Главную</a>
            </h3>
            <h3 class="text-body-emphasis h4">
                <a th:href="@{'/items'}" class="text-white">Каталог товаров</a>
            </h3>
            <h3 class="text-body-emphasis h4">
                <a href="page3.html" class="text-white">Бренды</a>
            </h3>
            <h3 class="text-body-emphasis h4">
                <a href="page3.html" class="text-white">Контакты</a>
            </h3>
            <h3 class="text-body-emphasis h4">
                <a href="page3.html" class="text-white">Служба поддержки</a>
            </h3>
        </div>
    </div>


    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex" >
                <form action="/logout" method="post">
                <a class="nav-link active text-light" aria-current="page"style="color: red" th:href="@{'/logout'}">Выход</a>
                </form>
                <a class="nav-link ms-3 text-light" th:href="@{'/profil'}">Профиль</a>
            </div>

        </div>

    </nav>
</head>
<body>
<div class="d-flex justify-content-center mt-3">Добро пожаловать</div>

</body>
</html>